<div class="details">
	<div>
        <h3>Personal info</h3>
        <br>
        <div class="podaci">
            <p class="podaci-bold">name</p>
            <p class="podaci-desno">{{details.name}}</p>
        </div>
        
        <div class="podaci">
            <p class="podaci-bold">date of birth</p>
            <p class="podaci-desno">{{details.dob}}</p>
        </div>
        
        <div class="podaci">
            <p class="podaci-bold">address</p>
            <p class="podaci-desno">{{details.address}}</p>
        </div>
        
        <div class="podaci">
            <p class="podaci-bold">phone</p>
            <p class="podaci-desno">{{details.phone}}</p>
        </div>
       
        <div class="podaci">
            <p class="podaci-bold">email</p>
            <p class="podaci-desno">{{details.email}}</p>
        </div>
        
    </div>
</div>